
@{
    ViewBag.Title = "TestApi";
}

<h2>TestApi</h2>

<button id="request" class="btn btn-danger">Get data </button>
<div id="result">

</div>
@section script
{
    <script>
        $(function () {

            $("#request").click(function() {

                $.ajax({
                    url: 'http://localhost:53104/api/Suka/',
                    type: 'GET',
                    //dataType: 'json',
                    success: function (data) {

                        $("#result").text(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('#result').text(jqXHR.responseText || textStatus);
                    }
                });
            });
        })
    </script>
}
