    @model int
@{
    ViewBag.Title = "Upload";
}

<h2>Upload photos</h2>

@using (Html.BeginForm("Upload", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="text" name="id" value="@Model" hidden />
    <input type="file" name="fileUploadMulti" multiple />
    <input type="submit" name="Submit" id="SubmitSingle" value="Upload" />
}
