@using ShopWebUI.Models
@model ViewModelProductDefault

@foreach (var item in Model.ListProductInfo)
{

    <div class="col-md-4 col-sm-6 col-xs-12">
        <hr />
        
            <img src="@item.PhotoPath" height="200" />
            <hr />
            <a href="#" class="btn btn-danger btn-sm"
               data-goodid="@item.ProductId">
                @item.ProductName
            </a>
            <br />
            <a href="#" class="btn btn-warning btn-sm btn-cart"
               data-goodid="@item.ProductId">
                Add to cart
            </a>        
    </div>
}
